#main{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.grid{
  display: flex;
  flex-direction: row;
  background-color: black;
  padding: 5px;
}

.column{
  display: flex;
  flex-direction: column;
}

.square{
  height: 25px;
  width: 25px;
  background-color: gray;
  margin: 6px;
}

.selected{
  background-color: white;
}

:hover{
  cursor: pointer;
}
