.grid{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.column{
  display: flex;
  flex-direction: column;
}

.square{
  height: 20px;
  width: 20px;
  background-color: gray;
  margin: 4px;
}

.selected{
  background-color: white;
}

.playing{
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 0px 100px red ;;
  background-color: red;
}

.square:hover{
  cursor: pointer;
}
